.Homepage .header {
  min-height: 54vh;
  max-height: 54vh;
  background-color: #151c47;
  /* position: fixed; */
  width: 100%;
}

button, img{
  cursor: pointer;
}

.Homepage p {
  margin: 0;
}

.Homepage .subheader {
  height: 10vh;
  /* background-color: aqua; */
  width: 80%;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 3vh;
  padding-top: 1vh;
  text-align: center;
}

.Homepage .header .subheader p.heading {
  font-size: 2em;
  color: #ebeb2b;
  font-weight: 500;
  font-family: Jomolhari;
}

.Homepage .footer {
  height: 34vh;
  background-color: #e2e2e2;
}

.Homepage .header .boxes {
  height: 69vh;
  /* position: fixed; */
  width: 80%;
  margin-left: 10%;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  margin-top: 2vh;
}

.Homepage .header .boxes .boxRow {
  width: 48%;
  height: 69vh;
  background-color: white;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Homepage .header .boxes .boxColumn {
  width: 48%;
  height: 69vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.Homepage .header .boxes .boxColumn .interactWallet {
  height: 20vh;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.Homepage .header .boxes .boxColumn .recentWallets {
  height: 43vh;
  width: 100%;
  background-color: white;
  border-radius: 20px;
  background: #fff;
  overflow-y: auto;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #ffffff;
  /* border: 0.5px solid #181717; */
  border-radius: 20px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 20px;
  border: 0.5px solid transparent;
  background-clip: content-box;
  background-color: #b6b6b6;
}

.Homepage .header .boxes .boxRow .createWallet p.heading {
  font-size: 1.8em;
  color: black;
  text-align: center;
  margin-top: 3vh;
  font-weight: 500;
}

.Homepage .header .boxes .interactWallet p.heading {
  font-size: 1.8em;
  color: black;
  text-align: center;
  margin-top: 2vh;
  font-weight: 500;
  margin-bottom: 3.75vh;
}

.Homepage .header .boxes .boxColumn .recentWallets p.heading {
  font-size: 1.8em;
  color: black;
  text-align: center;
  margin-top: 2vh;
  font-weight: 500;
  position: sticky;
  padding-bottom: 1vh;
}

.Homepage .header .boxes .boxRow .createWallet .inputBoxes {
  width: 85%;
  height: 33vh;
  max-height: 45vh;
  margin-top: 7vh;
  margin-bottom: 5vh;
  margin-left: 7.5%;
  margin-right: 7.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.Homepage .header .boxes .boxRow .createWallet .inputBoxes .inB {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 1vh;
}

.Homepage .header .boxes .boxRow .createWallet .inputBoxes .inB img {
  height: 3vh;
}

.Homepage .header .boxes .boxRow .createWallet .inputBoxes .inB .imgs {
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Homepage .header .boxes .boxRow .createWallet .inputBoxes .inB input {
  border: none;
  background-color: #e2e2e2;
  width: 75%;
  height: 5vh;
  text-align: center;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
}

.Homepage .header .boxes .interactWallet input {
  border: none;
  background-color: #e2e2e2;
  width: 60%;
  height: 5vh;
  text-align: center;
  font-size: 1.1em;
  color: rgb(0, 0, 0);
  margin-left: 7.5%;
}

.Homepage
  .header
  .boxes
  .boxRow
  .createWallet
  .inputBoxes
  .inB
  input::placeholder {
  text-align: center;
  /* font-size: 1.1em; */
  color: rgba(0, 0, 0, 0.535);
}

.Homepage .header .boxes .boxRow .createWallet {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Homepage .header .boxes .boxRow .createWallet button {
  margin-top: 3vh;
  border: none;
  border-radius: 10px;
  width: 15vw;
  height: 7vh;
  color: white;
  background-color: #006633;
  font-size: 1.2em;
}

.Homepage .header .boxes .interactWallet .interactBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Homepage .header .boxes button#btnInteract {
  width: 20%;
  margin-left: 4vh;
  height: 5.5vh;
  margin-right: 7.5%;
  background-color: #fcb500;
  border: none;
  font-size: 1.2em;
  border-radius: 7px;
}

.Homepage .header .boxes .boxColumn .recentWallets .addresses {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3vh;
}

.Homepage .header .boxes .boxColumn .recentWallets p.address {
  margin-left: 7.5%;
  background-color: #e2e2e2;
  width: 60%;
  height: 4.85vh;
  text-align: center;
  font-size: 1.2em;
  padding-top: 0.15em;
}

.loader9 {
  color: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 25px;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 40px;
  padding: 10px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 8px;
  position: fixed;
  z-index: 35;
  top: 48%;
  left: 38%;
}

.loader9 p {
  position: relative;
  top: 0%;
}

.words {
  overflow: hidden;
}

.word {
  display: block;
  height: 100%;
  padding-left: 6px;
  color: rgb(0, 197, 0);
  animation: spin_4991 4s infinite;
}

@keyframes spin_4991 {
  10% {
    -webkit-transform: translateY(-105%);
    transform: translateY(-105%);
  }

  25% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }

  35% {
    -webkit-transform: translateY(-205%);
    transform: translateY(-205%);
  }

  50% {
    -webkit-transform: translateY(-200%);
    transform: translateY(-200%);
  }

  60% {
    -webkit-transform: translateY(-305%);
    transform: translateY(-305%);
  }

  75% {
    -webkit-transform: translateY(-300%);
    transform: translateY(-300%);
  }

  85% {
    -webkit-transform: translateY(-405%);
    transform: translateY(-405%);
  }

  100% {
    -webkit-transform: translateY(-400%);
    transform: translateY(-400%);
  }
}

.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.82);
  backdrop-filter: blur(3px);
  z-index: 25;
  position: fixed;
}

.spinner {
  width: 100px;
  height: 100px;
  position: fixed;
  top: 45%;
  left: 45%;
  display: grid;
  z-index: 400;
  border: 4px solid #0000;
  border-radius: 50%;
  border-right-color: #0084ff;
  animation: spinner-a4dj62 1s infinite linear;
}

.spinner::before,
.spinner::after {
  content: "";
  grid-area: 1/1;
  margin: 2px;
  border: inherit;
  border-radius: 50%;
  animation: spinner-a4dj62 2s infinite;
}

.spinner::after {
  margin: 8px;
  animation-duration: 3s;
}

@keyframes spinner-a4dj62 {
  100% {
    transform: rotate(1turn);
  }
}
