.Navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    height: 12vh;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #151C47;
}

.Navbar img{
    height: 8vh;
}

.Navbar button{
    border: none;
    border-radius: 10px;
    background-color: #E2E2E2;
    height: 6vh;
    width: 14vw;
    font-size: 1.1rem;
}